MONGODB_URI=mongodb+srv://username:password@temperaturedb.ad8ez.mongodb.net/?retryWrites=true&w=majority&appName=temperaturedb
//get the url from mongodb atlas after creating cluster or go with local mongodb
PORT=5000
ORIGIN=http://localhost:3000